---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
---

<DashboardLayout title="Usage - Maya Research">
  <div class="flex flex-1 flex-col overflow-hidden">

    
    <!-- Main Content -->
    <main class="flex-1 overflow-auto p-8">
      <div class="max-w-7xl mx-auto">
        <p class="text-gray-600">Usage statistics and analytics will be displayed here.</p>
      </div>
    </main>
  </div>
</DashboardLayout>

