---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
import DevelopersPage from './_components/DevelopersPage';
---

<DashboardLayout title="API Keys - Maya Research">
  <div class="flex flex-1 flex-col overflow-hidden">
   
    
    <!-- Main Content -->
    <main class="flex-1 overflow-auto bg-white">
      <DevelopersPage client:only="react" />
    </main>
  </div>
</DashboardLayout>

