---
import Layout from './Layout.astro';
import Sidebar from '../components/Sidebar';

interface Props {
	title?: string;
}

const { title = 'Dashboard - Maya Research' } = Astro.props;
---

<Layout title={title}>
	<div class="flex h-screen overflow-hidden bg-white">
		<Sidebar client:load />
		<div class="flex flex-1 flex-col overflow-hidden">
			<slot />
		</div>
	</div>
</Layout>

